@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

*{
    text-align: center;
    color: #fff;
 

  }

  /*Seccion 0*/
  .seccion0{
    background-color: #742f37;
    color: #fff;
  }

  .main-inicio{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  .color-w{
    color: #fff;
  }
  
  /* Seccion 1 */

  .seccion1 {
    background-image: url(../img/Wine1.jpg);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    padding: 150px 0;
  }
  
  .seccion1 h1{
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-weight: bolder;
    font-size: 6rem;
    text-align: center;
  }
  
  /* Seccion 2 */

  .imageSec1{
    height: 600px;

  }

  .card{
    height: 820px;
  }
  
  .btn-card2{
    background-color: #742f37;
    border-color: none;

 }

 .btn-card2:hover{
    background-color: #451a1f;
    color: #fff
 }

  
  /* Seccion 3 */
  .seccion3 {
    background-image: url(../img/Wine2.jpg);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    padding: 150px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .seccion3 h2{
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-weight: bolder;
    font-size: 6rem;
    text-align: center;
  }
  
  
  /* Seccion 4 */
  
  .seccion4 h1{
    font-size: 3.5rem;  
    color: #000;
    font-weight: lighter;
    font-style: oblique;
  }
  
  .seccion4{
    padding: 15px 0;
    background: rgb(34,13,16);
background: linear-gradient(90deg, rgba(34,13,16,1) 0%, rgba(113,41,51,1) 17%, rgba(113,41,51,1) 83%, rgba(166,60,74,1) 100%);
  }
  
  /* Seccion 5 */
  
  .seccion5{
    background-image: url(../img/Wine3.jpeg);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    padding: 150px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .seccion5 h2{
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-weight: bolder;
    font-size: 6rem;
    text-align: center;
  }
  
  /* Seccion 6 */
  
  .seccion6 h2{
    font-size: 3.5rem;  
    color: #000;
    font-weight: lighter;
    font-style: oblique;
  }
  
  .seccion6 p{
color: #000;
  }
  
  .fit-object6{
    object-fit: cover;
    width: 100%;
    height: 100%;
  
  }

  /* Seccion 7 */
  .seccion7 {
    background-image: url(../img/Wine4.jpeg);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    padding: 50px 0 50px 0;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .seccion7 h2{
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-weight: bolder;
    font-size: 6rem;
    text-align: center;
  }
  


/* Scroll top butoon */
  .botonScrollTop{
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: #D2649A;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    
    }
    



  /* Footer */
  
  footer{
    background-color: #742f37;
  }

.emailForm{
    width: 17rem;
}

.form__button {
	background: #451a1f;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	color: white;

}

 .form__button:hover{
    background-color: #fff;
    color: #742f37
 }

 footer a{
  text-decoration: none;
 }